body{
    font-family: "Indie Flower", "Helvetica-Neue", Helvetica, Arial;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

a{
    position: relative;
    color: palevioletred;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s;
}
a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-2deg);
    width: 100%;
    height: 1px;
    background: palevioletred;
}
a:hover{
    opacity: 1;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    margin: auto;
}
.card{
    margin: 10px;
    perspective: 1000px;
    cursor: pointer;
}
.card.flipped .card-inner{
    transform: rotateY(180deg);
}
.card,
.front,
.back{
    width: 100px;
    height: 100px;
}

.card-inner{
    transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
    position: absolute;
	top: 0;
	left: 0;
    backface-visibility: hidden;
    border: 1px solid rgba(0,0,0, 0.08);
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.08);
    border-radius: 5px;
    overflow: hidden;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

/* pictures */
.card .back {
    background-color: palevioletred;
}
.card .front,
.card .back {
    background-size: contain;
}
.card-0 .front {
    background-image: url('img/00.png');
}
.card-1 .front {
    background-image: url('img/01.png');
}
.card-2 .front {
    background-image: url('img/02.png');
}
.card-3 .front {
    background-image: url('img/03.png');
}
.card-4 .front {
    background-image: url('img/04.png');
}
.card-5 .front {
    background-image: url('img/05.png');
}
.card-6 .front {
    background-image: url('img/06.png');
}
.card-7 .front {
    background-image: url('img/07.png');
}